@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="header">
    <button id="sidebarToggle" class="btn btn-secondary d-md-none">
        <i class="fas fa-bars"></i> <!-- FontAwesome hamburger icon -->
    </button>
    <h3 class="head-text">DASHBOARD</h3>
    <div class="input-group input-group-sm" style="max-width: 1000px;">
        <input type="text" class="form-control" placeholder="Search..." aria-label="Search" aria-describedby="inputGroup-sizing-sm">
        <button class="btn btn-outline-secondary" type="button">
            <i class="fa-solid fa-magnifying-glass"></i>
        </button>
    </div>
</div>